<div class="content-filter p-3">
    {% for gender in genders %}
    <div class="form-check m-2">
        <input class="form-check-input" type="checkbox" value="" id="gender-{{gender.id}}">
        <label class="form-check-label" for="flexCheckDefault">
            {{ gender.name }}
        </label>
    </div>
    {% endfor %}
</div>