@import "~bootstrap/scss/bootstrap";

.container {
    width: 70%;

    .content-movies {
        .movie {
            background-color: #F8F9FA;
        }
    }

    .content-filter {
        border: 1px solid grey;
    }

    .content-best-movie {
        position: relative;
        .resume {
            position: absolute;
            bottom: 20px;
            left: 30px;
        }
    }
}